@import 'tailwindcss';

@theme {
  --color-background: #100f10;

  --color-surface: #191914;

  --color-card: #101010;

  --color-card-border: #28272c;

  --color-input: #101010;

  --color-input-border: #2a2a2a;

  --color-primary: #eb5e09;
  --color-primary-hover: #d65307;
  --color-primary-active: #bf4a05;

  --color-text: #f5f5f5;
  --color-text-secondary: #807e87;
  --color-text-muted: #8a8a97;
  --color-placeholder: #737380;

  --color-logo: #d2c6e8;

  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-error: #dc2626;
  --color-info: #3b82f6;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }

  .bg-gradient {
    background:
      radial-gradient(at 20% 45%, #602f1961 0%, transparent 40%),
      radial-gradient(at 80% 0%, #4a331a64 0%, transparent 40%), #100f10;
  }
}
